{{ define "main" }}

<section class="section gallery">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
        <h4 class="font-weight-light">{{.Description | markdownify }}</h4>
      </div>
    </div>
  </div>
</section>

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.products.soap.enable }}
<section class="gallery" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading pt-5">
          <a href="/soap"><h1 class="font-weight-bold">{{ $data.products.soap.title | markdownify }}</h1>
            <h3>See All</h3></a>
        </div>

        <div class="product-slider">
          {{ range (where .Site.RegularPages "Section" "soap") }}
          <div>
          <div class="block">
            <div class="gallery-overlay">
              <a href="{{ .Permalink }}" class="gallery-popup">
                <i class="tf-ion-android-open"></i>
              </a>
            </div>
            <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
          </div>
          <div class="product-info">
            <h4 class="mb-2">{{.Title}}</h4>
            <p>{{ .Description }}</p>
          </div>
        </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.products.bathbombs.enable }}
<section class="gallery" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading pt-5">
          <a href="/bath-bombs"><h1 class="font-weight-bold">{{ $data.products.bathbombs.title | markdownify }}</h1>
            <h3>See All</h3></a>
        </div>

        <div class="product-slider">
          {{ range (where .Site.RegularPages "Section" "bathbombs") }}
          <div>
          <div class="block">
            <div class="gallery-overlay">
              <a href="{{ .Permalink }}" class="gallery-popup">
                <i class="tf-ion-android-open"></i>
              </a>
            </div>
            <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
          </div>
            <div class="product-info">
            <h4 class="mb-2">{{.Title}}</h4>
            <p>{{ .Description }}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}



{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.products.lotion.enable }}
<section class="gallery" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading pt-5">
          <a href="/lotion"><h1 class="font-weight-bold">{{ $data.products.lotion.title | markdownify }}</h1>
            <h3>See All</h3></a>
        </div>

        <div class="product-slider">
          {{ range (where .Site.RegularPages "Section" "lotion") }}
          <div>
          <div class="block">
            <div class="gallery-overlay">
              <a href="{{ .Permalink }}" class="gallery-popup">
                <i class="tf-ion-android-open"></i>
              </a>
            </div>
            <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
          </div>
            <div class="product-info">
            <h4 class="mb-2">{{.Title}}</h4>
            <p>{{ .Description }}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}